{% extends 'shared/_Main_page.html' %}

{% block content %}

        <table>
            {{ form.as_table }}
            {% for error in form.erros %}
                {{ error }}
            {% endfor %}
        </table>
        <input type="submit" value="Change Password" id="submit_password">


    <script>
        $(document).ready(function () {
            $('#submit_password').click(function () {
                $.ajax({
                    url: "{% url 'accounts:accounts-api:change_password' %}",
                    type: "patch",
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                    },
                    data: {
                        "old_pass": $('#id_previous_password').val(),
                        "password": $('#id_new_password').val(),
                        "new_pass": $('#id_repeat_new_password').val(),
                    },
                    success: function (data) {
                        $('#password_success').html('کلمه ی عبور با موفقیت ثبت شد.');
                        $('#password_wrong').html('');
                        $("#password_success").delay(3000).slideUp(600).toggle();
                    },
                    error:function (xhr) {
                        $('#password_wrong').html('خطایی در ثبت کلمه ی عبور رخ داد.');
                        $('#password_success').html('');
                        $("#password_wrong").delay(3000).slideUp(600).toggle();
                    }
                });
            })
        })
    </script>
    <div id="password_success"></div>
    <div id="password_wrong"></div>

{% endblock %}